mobile-billing-ane/target/*
mobile-billing-flash/target/*
mobile-billing-ios/target/*
mobile-billing-ios/src/xcode/mobile-billing-ios.xcodeproj/xcuserdata/*
mobile-billing-ios/src/xcode/mobile-billing-ios.xcodeproj/project.xcworkspace/*
mobile-billing-ios/src/xcode/DerivedData/*
mobile-billing-android/target/*
testapp/target/*
testapp/.gradle/*
testapp/build/*
testapp/.idea/*
**.iml
mobile-billing-flash/.idea/*